<table class='table'>
  <tr><%= attachment_image_tag( user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th> <%= link_to "follows: #{user.follower.count}", followings_user_path(user.id) %></th>
  </tr>
  <tr>
    <th><%= link_to "followers: #{user.followed.count}", followers_user_path(user.id) %></th>
  </tr>
  <tr>
    <th>
       <% unless user == current_user %>
          <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: 'btn btn-info' %>
          <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: 'btn btn-success' %>
          <% end %>
          <% end %>
    </th>
  </tr>

</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>